.nav-links {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 85em;
  margin: auto;
  border-bottom: solid 1px #dfdfdf;
}

.nav-links a {
  display: inline-block;
  padding: 1.5rem 0.5rem;
  transition: color 150ms ease-in-out;
}

.nav-links a:hover {
  color: #000;
}
